@using System.Data;
<div class="page-container product-page">
    @if(ViewBag.Cart != null && (ViewBag.Cart as DataTable).Rows.Count > 0)
            {



<div class="row cart-list">
        <div class="col-md-9">
            <table class="table table-bordered table-cart">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Unit Price</th>
                        <th class="qty">QTY</th>
                        <th>Sub Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach(DataRow dr in (ViewBag.Cart as DataTable).Rows)
                {

                    <tr data-id="@dr["ProductId"].ToString()">
                        <td><img src="@Url.Content("~/"+dr["ProductImage1"].ToString())" /></td>
                        <td>
                            <a href="@Url.Action("Details","Home",new { ProductId = dr["ProductId"].ToString()})" class="goto-product">
                            @dr["ProductTitle"].ToString()
                            </a>
                        </td>
                        <td class="text-right">@String.Format("{0:#,0.000}", dr["Price"]) KD</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text qtychange minus">-</span>
                                <input type="text" class="form-control addqnty" size="25" value="@Convert.ToInt32(dr["Quantity"].ToString())" id="count">
                                <span class="input-group-text qtychange plus">+</span>
                            </div>
                        </td>
                        <td class="text-right">
                        <span class="updatesubtotal">
                        @String.Format("{0:#,0.000}",Convert.ToInt32(dr["Quantity"].ToString()) * Convert.ToDecimal(dr["Price"].ToString()))
                             </span>
                        KD</td>
                        <td class="text-center"><button class="btn btn-outline-danger btn-sm removecart"><i class="fa fa-trash-o"></i></button></td>
                    </tr>
                }

                    
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <div class="checkout-detais">
                <div class="order-summary">
                    <h4 class="summary-text">Order Summary</h4>
                    <div class="d-flex">
                        <span class="w-50">Sub Total (2 Items)</span>
                        <span class="w-50 text-right">20.000 KD</span>
                    </div>

                    <div class="d-flex">
                        <span class="w-50">Delevery Charges</span>
                        <span class="w-50 text-right">2.000 KD</span>
                    </div>

                    <div class="d-flex summary-total">
                        <span class="w-50">Total</span>
                        <span class="w-50 text-right">22.000 KD</span>
                    </div>

                    <button class="btn btn-secondary w-100 mt-2"> Proceed Payment</button>
                </div>

                <div class="summary-desc">
                    <p>We are a team of designers and developers that create high quality</p>
                    <p>We are a team of designers and developers that create high quality</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 d-flex">
            <div class="col mr-auto">
                <a href="@Url.Action("Index","Home")" class="btn btn-primary">Continue Shoping</a>
            </div>
            <div class="col text-right">
                <button class="btn btn-success">Update Cart</button>
                <button class="btn btn-info">Checkout</button>
            </div>
        </div>
    </div>
            }
            else
            {
                <p>No Items in Cart</p>

                <div class="col mr-auto">
                <a href="@Url.Action("Index","Home")" class="btn btn-primary">Continue Shoping</a>
            </div>
            }


</div>